%h2= "Visits for #{h @pub.name}"
%p 
  = link_to "Add a visit", new_pub_visit_path(@pub)
  -@pub.visits.all.each do |visit|
    .column-left
      %h3
        = "Added by #{visit.user ? h(visit.user.username) :  h("@"+visit.tweet_username)} - #{distance_of_time_in_words(visit.created_at.to_f, Time.now.to_i)} ago"
        - if visit.tweet_username
          = link_to("via twitter", "http://twitter.com/#{h(visit.tweet_username)}")
      = h visit.comments  
    .column-right
      %h3 Beers Available
      - visit.beers.each do |beer|
        = h beer.name
        %br/
    %hr.clear
