<%= f.error_messages %>
<p>
  <%= f.label :beer_quality %>
  <br/>
  <%= f.select :beer_quality, 0..10 %>
</p>
<p>
  <%= f.label :beer_selection %>
  <br/>
  <%= f.select :beer_selection, 0..10 %>
</p>
<p>
  <%= f.label :atmosphere %>
  <br/>
  <%= f.select :atmosphere, 0..10 %>
</p>
<p>
  <%= f.label :price %>
  <br/>
  <%= f.select :price, 0..10 %>
</p>
<p>
  <%= f.label :overall_option %>
  <br/>
  <%= f.select :overall_option, 0..10 %>
</p>
<p>
  <%= f.submit "Save" %>
</p>

