<h2>What's new</h2>

<div id="whats-new-wrapper">
  <h3>Latest Pubs</h3>
  <p>
    <% @pubs.each do |pub| %>
      <%= link_to pub.name, pub_path(pub) %> - <%= pub.town %>
      Added by <%= display_username pub.user %> - <%= distance_of_time_in_words(pub.created_at, Time.now) %> ago
      <br/>
    <% end %>
  </p>

  <h3>Latest Visits</h3>
  <p>
    <% @visits.each do |visit| %>
      <%= link_to visit.pub.name, pub_path(visit.pub) %> - <%= visit.pub.town %>
      Added by <%= visit.user ? visit.user.username :  "@"+visit.tweet_username %> - <%= distance_of_time_in_words(visit.created_at, Time.now) %> ago
      <% if visit.tweet_username %>
        <%= link_to("via twitter", "http://twitter.com/#{h(visit.tweet_username)}") %>
      <% end %>
      <br/>
    <% end %>
  </p>

  <h3>Latest Photos</h3>
  <div id="whats-new-photos">
    <% @images.each_with_index do |image, index| %>
      <%= content_tag :div, :id => "whats-new-photo-#{index}" do %>
        <p><%= link_to image.pub.name, pub_path(image.pub) %> - <%= image.pub.town %>
        <%= lightbox_image_tag(image) %>
        <p>Added by <%= display_username image.user %> <% image.user.pints %> pints</p>
      <% end %>
    <% end %>
  </div>
</div>
