<h2>Search results for <%= params[:terms] %></h2>

<%= will_paginate @results %>

<% @results.each do |pub| %>
  <%= link_to pub.excerpts.name.html_safe, pub_path(pub) %>
  - <%= pub.address(excerpts=true) %>
  <br/>
  <%= raw pub.excerpts.description %>
  <br/>
  <br/>
<% end %>

<%= will_paginate @results %>
