<h3>Home</h3>
<ul class="sidemenu">				
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "What is real ale", what_is_real_ale_path %></li>
	<li><%= link_to "Real ale styles", styles_of_real_ale_path %></li>
	<li><%= link_to "Brewing real ale", brewing_real_ale_path %></li>
	<li><%= link_to "Camra - the campaign for real ale", camra_campaign_for_real_ale_path %></li>
	<li><%= link_to "Whats New", map_path %></li>
	<li><%= link_to "Links", links_path  %></li>
</ul>
