<h3>Home</h3>
<ul class="sidemenu">				
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "What is real ale", :controller => "pages", :action => "what_is_real_ale" %></li>
	<li><%= link_to "Real ale styles", :controller => "pages", :action => "styles_of_real_ale" %></li>
	<li><%= link_to "Brewing real ale", :controller => "pages", :action => "brewing_real_ale" %></li>
	<li><%= link_to "Camra - the campaign for real ale", :controller => "pages", :action => "camra_campaign_for_real_ale" %></li>
	<li><%= link_to "Whats New", map_path %></li>
	<li><%= link_to "Links", :controller => "pages", :action => "links" %></li>
</ul>