%h3 latest photos
-if @pub.has_images?
  %pub_images
    %p 
      = link_to "View All Photos", pub_images_path(@pub)
      |
      = link_to "Upload Photo", new_pub_image_path(@pub)
    -@pub.images.latest(4).each do |image|
      = lightbox_image_tag(image)
-else
  %p
    = link_to "There are currently no photos for #{h @pub.name}, click here to add one", new_pub_image_path(@pub)
