<% if params[:town_id] %>
  <h3>Pubs in <%= h params[:town_id] %></h3>
<% else %>
  <h3>Pubs</h3>
<% end %>
<p><%= link_to "Add a new pub", new_pub_path  %></p>


<%= render :partial => "shared/alphabet_anchor_links", :locals => {:hashes => false} %>

<p>  
  <% @pubs.each do |pub| %>
    <%= link_to(pub.name, pub_path(pub)) %>
    <%= h(pub.address) %>
    <br/>
   <% end %>
</p>
<%= will_paginate @pubs %>

<% set_meta(:keywords => 'Real ale, pubs', :description => 'Pub listings') %>
