<h2>Add Pub</h2>
<% form_for @pub do |f| %>
	<p>
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= f.label :description %><br/>
		<%= f.text_field :description %>
	</p>
	
	<p>
		<%= f.label :address_1 %><br/>
		<%= f.text_field :address_1 %>
	</p>
	
	<p>
		<%= f.label :address_2 %><br/>
		<%= f.text_field :address_2 %>
	</p>
	
	<p>
		<%= f.label :town %><br/>
		<%= f.text_field :town %>
	</p>
	
	<p>
		<%= f.label :post_code %><br/>
		<%= f.text_field :post_code %>
	</p>
	
	<p>
		<%= f.label :telephone %><br/>
		<%= f.text_field :telephone %>
	</p>
	
	<p>
		<%= f.label :number_of_pumps %><br/>
		<%= f.select :number_of_pumps, 1..16 %>
	</p>
	
	<p>
		<%= f.label :gbg, "Good Beer Guide listed?" %><br/>
		<%= f.check_box :gbg %>
	</p>
	
	<p>
		<%= f.submit "Save" %>
	</p>
<% end %>