%h2= h @pub.name

.column-left
  %h3 Address
  %p#pub-address
    = h @pub.name 
    %br/
  
    = h @pub.address_1 
    %br/
   
    -unless @pub.address_2.blank?
      = h @pub.address_2 unless @pub.address_2.nil?
      %br/ 

    = h @pub.town 
    %br/
  
    = h @pub.post_code 
    %br/
  
    -unless @pub.telephone.blank?
      = h @pub.telephone 
      %br/
      
  -if @pub.gbg
    %p= "#{@pub.name} is listed in the Good Beer Guide" 
  -unless @pub.website.blank?
    %p= link_to "View the wesbite for #{@pub.name}", @pub.website
    
  

  
.column-right
  %h3 Permanent Real Ales
  %p#permanent-beers
    -for beer in @pub.beers
      = h beer.name
      %br/
  
  -unless @pub.number_of_pumps.nil?
    %p= "#{@pub.name} has #{@pub.number_of_pumps} hand pumps"
  
%hr.clear
%p#description
  = h @pub.description
  %br/
  = link_to "Update the details for #{@pub.name}", edit_pub_path(@pub)

.column-left
  =render :partial => 'latest_pub_images'

.column-right
  =render :partial => 'latest_pub_visits'

- set_meta(:keywords => "Real ale pubs, #{h @pub.name}", :description => @pub.description) 
