%table
  %tr
    %th
    %th name
    %th Address
    %th number of pumps
    %th Good Beer Guide?
    %th Added by
  -@pubs.each_with_index do |pub, index|
    %tr
      %td{:rowspan => 2}= image_tag "http://www.realalehunter.co.uk/img/markers/marker#{index}.png"
      %td= h pub.name
      %td= h pub.address
      %td= pub.number_of_pumps.nil? ? "unknown" : pub.number_of_pumps
      %td= pub.gbg.nil? ? "unknown" : (pub.gbg ? "yes" : "No")
      %td h pub.user.user_name
    %tr
      %td{:colspan => 5}= h pub.description
