%h2= "Upload a photo of #{@pub.name}"
-form_for([@pub, @image], :html => {:multipart => true}) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br/
    = f.text_field :name

  %p
    = f.label :attachment, "Photo"
    %br/
    = f.file_field :attachment
  %p
    = f.submit "Upload"
