<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<title><% if @page_title %><%= h @page_title %> | <% end %>Real Ale Hunter</title>

<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<%= raw display_meta(:keywords => "Real, Ale, Real ale, Realale, Map, Beer, Festival, Camra, Directory, Pubs, Boozers, Maps ,Google Maps, Camera, photos, Campaign, review, reviews, ratings, drinking, supping", :description => "A map and directory of real ale pubs in the UK. Add visits, ratings, reviews, real ales available, photos") %>

<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag 'application' %>
<%= yield :head %>


</head>

<body>
<!-- wrap starts here -->
<div id="wrap">

  <!--header -->
  <div id="header">

    <h1 id="logo-text"><a href="/" title="Real Ale Hunter">Real Ale Hunter</a></h1>
    <p id="slogan">A map and directory of real ale serving pubs</p>

    <div id="top-menu">
      <p>
        <% if user_signed_in? %>
          <%= link_to "account", edit_user_password_path %> |
          <%= link_to "logout", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "login", new_user_session_path %> |
          <%= link_to "register", new_user_registration_path %>
        <% end %>
      </p>

    </div>

  <!--header ends-->
  </div>

  <!-- navigation starts-->
  <div  id="nav">
    <ul>
      <%= content_tag :li, :id => (@tab == 'Home' ? 'current' : nil) do %>
        <%= link_to "Home", root_path %>
      <% end %>
      <%= content_tag :li, :id => (@tab == 'Map' ? 'current' : nil) do %>
        <%= link_to "Map", map_path %>
      <% end %>
      <%= content_tag :li, :id => (@tab == 'Pubs' ? 'current' : nil) do %>
        <%= link_to "Pubs", pubs_path %>
      <% end %>
      <%= content_tag :li, :id => (@tab == 'Towns' ? 'current' : nil) do %>
        <%= link_to "Towns", towns_path %>
      <% end %>
      <%= content_tag :li, :id => (@tab == "What's New" ? 'current' : nil) do %>
        <%= link_to "What's New", whats_new_path %>
      <% end %>
      <%= content_tag :li, :id => (@tab == "Add Pub" ? 'current' : nil) do %>
        <%= link_to "Add Pub", new_pub_path %>
      <% end %>
    </ul>
    <!-- search starts -->
    <%= form_tag(searches_path, :method => :get) do %>
      <fieldset>
        <%= text_field_tag :terms, params[:terms] %>
        <%= submit_tag "Search" %>
      </fieldset>
    <% end %>
    <!-- search ends -->
  <!-- navigation ends-->
  </div>

